<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.service.a.dao.ADao">

    <insert id="insert" parameterType="com.jamie.api.a.entity.AEntity">
        insert into `table_a`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            msg,
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{msg},
        </trim>
    </insert>

    <!-- 获取最新的数据 -->
    <select id="getLatestData" resultType="com.jamie.api.a.entity.AEntity">
        select
        <trim suffixOverrides=",">
            id, msg, create_time,
        </trim>
        from `table_a`
        order by create_time desc limit 1
    </select>

    <!-- 根据条件查询 -->
    <select id="getDataABy" parameterType="java.util.HashMap"
            resultType="com.jamie.api.a.entity.AEntity">
        select
        <trim suffixOverrides=",">
            id, msg, create_time, update_time,
        </trim>
        from `table_a`
        <trim prefix="where" prefixOverrides="and">
            <if test="msg != null">
                and msg = #{msg}
            </if>
        </trim>
    </select>

</mapper>