<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.service.login.dao.MenuDao">

    <insert id="insert" keyProperty="id"
            parameterType="com.jamie.api.login.entity.MenuEntity">
        insert into `menu`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            path,
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{path},
        </trim>
    </insert>

    <!-- 获取所有角色对应的菜单路径 start -->
    <resultMap id="RoleMenuResultMap" type="com.jamie.api.login.vo.RoleMenuVo">
        <id property="id" column="id"/>
        <result property="menu" column="menu"/>
        <collection property="roleVos" ofType="com.jamie.api.login.vo.RoleVo">
            <id column="roleId" property="id"/>
            <result column="role" property="role"/>
            <result column="roleCn" property="roleCn"/>
        </collection>
    </resultMap>

    <!-- 获取所有的路径，以及路径对应的角色 -->
    <select id="getRoleMenus" resultMap="RoleMenuResultMap">
        select
        <trim suffixOverrides=",">
            m.id as menuId,
            m.path as menu,
            r.id as roleId,
            r.role as role,
            r.role_cn as roleCn,
        </trim>
        from `menu` m
        left join `menu_role` mr on m.id = mr.menu_id
        left join `role` r on r.id = mr.role_id
    </select>
    <!-- 获取所有角色对应的菜单路径 end -->

    <!-- 获取菜单路径 -->
    <select id="getMenu"
            parameterType="com.jamie.api.login.entity.MenuEntity"
            resultType="com.jamie.api.login.entity.MenuEntity">
        select
        <trim suffixOverrides=",">
            id, path,
        </trim>
        from `menu`
        <trim prefix="where" prefixOverrides="and">
            <if test="path != null">
                and path = #{path}
            </if>
        </trim>
    </select>

</mapper>