<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jamie.api.login.dao.RoleDao">

    <insert id="insert" keyProperty="id"
            parameterType="com.jamie.service.login.entity.RoleEntity">
        insert into `role`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            role, role_cn,
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{role}, #{roleCn},
        </trim>
    </insert>

    <!-- 根据条件获取角色信息 -->
    <select id="getRole"
            parameterType="com.jamie.api.login.vo.RoleVo"
            resultType="com.jamie.api.login.entity.RoleEntity">
        select
        <trim suffixOverrides=",">
            id, role, role_cn,
        </trim>
        from `role`
        <trim prefix="where" prefixOverrides="and">
            <if test="role != null">
                and role = #{role}
            </if>
            <if test="roleCn != null">
                and role_cn = #{roleCn}
            </if>
        </trim>
    </select>

    <!-- 获取用户对应的角色 -->
    <select id="getRolesByUser" parameterType="java.util.HashMap"
            resultType="com.jamie.api.login.entity.RoleEntity">
        select
        <trim suffixOverrides=",">
            r.id, r.role,
        </trim>
        from `role` r
        join `user_role` ur on r.id = ur.role_id
        join `user` u on u.id = ur.user_id
        <trim prefix="where" prefixOverrides="and">
            <if test="account != null">
                and u.account = #{account}
            </if>
            <if test="name != null">
                and u.name = #{name}
            </if>
            <if test="id != null">
                and u.id = #{id}
            </if>
        </trim>
    </select>

</mapper>